body {
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
}

#navContainer {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
    align-items: start;
    margin-top: -3rem;
    margin-bottom: 15rem; 
}

#navNameAndLogoDiv {
    display: flex;
    align-items: center;
    justify-items: start;
    margin-top: 0.2rem;
}

.navv {
    margin-top: 13 .9rem;
}

#navMainLogo {
    width: 30%;
    height: auto;
    padding-right: 0.8rem;
}

#navSiteName {
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.navItems {
    display: flex;
    gap: 5%;
}

.navLink {
    color: #030303;
    font-weight: 500;
    font-size: 1.05rem;
}

.navLink:hover {
    font-size: 1.07rem;
    transform: translateY(-0.1rem);
    background: linear-gradient(90deg, #4facfe, #248f95);
    -webkit-background-clip: text;
    color: transparent;

    text-decoration: none;
}

/* nav a.active {
    background: linear-gradient(90deg, #99a903, #956a24);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
} */

.navSearcingSide {
    display: flex;
}

.searchBox {
    width: 70%;
}

/*
.searchBox:focus-within {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-color: #0f0e0e;
} */

.navSearchTxt {
    margin-left: 1.3rem;
    width: 90%;
    height: 2.3rem;
    border-radius: 0.5rem;
    border: none;
    background: #ede4d8;
    color: #64481f;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    padding-left: 2rem;
}

.navSearchTxt:hover {
    transform: translateY(-0.2rem);
    background: #ffffff;
    width: 93%;
    height: 2.5rem;
}

.navSearchTxt:active {
    transform: translateY(-0.2rem);
    width: 93%;
    height: 2.5rem;

}

.navSearchSvg {
    width: 5%;
    height: auto;
    opacity: 0.6;
    margin-right: -2.8rem;
    margin-bottom: .3rem;
}


.navCartAndFavorite {
    display: flex;
    width: 30%;
}

.navCartBtn {
    width: 40%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.navFavoriteBtn {
    width: 40%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.cartFavoriteSvg {
    width: 50%;
}

.cartFavoriteSvg:hover {
    width: 55%;
}
.alignPart{
    display: flex;
    height:.6rem;
    justify-content: center;
}
.hrAfterNav {
    width: 90%;
    border: none;
    border-top: 0.1px solid #a27f4a;
    border-radius: 2px;
}

/* hero */
.heroDiv{
    margin-top: 0px;
}

.categoryBtn {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
}

.browseTitles {
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 4rem;
    padding-right: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.categoriesImages {
    width: 20%;
    height: 80%;
    border-radius: 50%;
}

.categoriesImages:hover {
    transform: translateY(-0.3rem);
}

.categoriesPTag {
    font-weight: 600;
    text-align: start;
}


/* footer */
.footerMain{
    text-align: center;
    background-color: #c3c3c36b;
}
.footerItems {
    display: flex;
    justify-content: center;
    display: flex;
    gap: 3%;
}

.footerLink {
color: #64481f;    font-weight: 500;
    font-size: 1.05rem;
}

.footerLink:hover {
    font-size: 1.07rem;
    transform: translateY(-0.1rem);
    background: linear-gradient(90deg, #0088ff, #006b70);
    -webkit-background-clip: text;
    color: transparent;

    text-decoration: none;
}





















