body {
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
}

#navContainer {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
    align-items: start;
    margin-top: -3rem;
}

#navNameAndLogoDiv {
    display: flex;
    align-items: center;
    justify-items: start;
    margin-top: 0.2rem;
}

.navv {
    margin-top: 13 .9rem;
}

#navMainLogo {
    width: 30%;
    height: auto;
    padding-right: 0.8rem;
}

#navSiteName {
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.navItems {
    display: flex;
    gap: 5%;
}

.navLink {
    color: #030303;
    font-weight: 500;
    font-size: 1.05rem;
}

.navLink:hover {
    font-size: 1.07rem;
    transform: translateY(-0.1rem);
    background: linear-gradient(90deg, #4facfe, #248f95);
    -webkit-background-clip: text;
    color: transparent;

    text-decoration: none;
}

/* nav a.active {
    background: linear-gradient(90deg, #99a903, #956a24);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
} */

.navSearcingSide {
    display: flex;
}

.searchBox {
    width: 70%;
}

/*
.searchBox:focus-within {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-color: #0f0e0e;
} */

.navSearchTxt {
    margin-left: 1.3rem;
    width: 90%;
    height: 2.3rem;
    border-radius: 0.5rem;
    border: none;
    background: #ede4d8;
    color: #64481f;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    padding-left: 2rem;
}

.navSearchTxt:hover {
    transform: translateY(-0.2rem);
    background: #ffffff;
    width: 93%;
    height: 2.5rem;
}

.navSearchTxt:active {
    transform: translateY(-0.2rem);
    width: 93%;
    height: 2.5rem;

}

.navSearchSvg {
    width: 5%;
    height: auto;
    opacity: 0.6;
    margin-right: -2.8rem;
    margin-bottom: .3rem;
}


.navCartAndFavorite {
    display: flex;
    width: 30%;
}

.navCartBtn {
    width: 40%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.navFavoriteBtn {
    width: 40%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.cartFavoriteSvg {
    width: 50%;
}

.cartFavoriteSvg:hover {
    width: 55%;
}
.alignPart{
    display: flex;
    height:.6rem;
    justify-content: center;
}
.hrAfterNav {
    width: 90%;
    border: none;
    border-top: 0.1px solid #a27f4a;
    border-radius: 2px;
}

/* hero section */
.heroMainDiv {
    margin-top: 3rem;
    text-align: center;
}

.heroImage {
    width: 80%;
    height: 32rem;
    border-radius: 1rem;
}

.heroMealTitle {
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.afterTitleDiv {
    display: flex;
}

.afterTitlePTags {
    padding-right: 0.9rem;
    color: #896228;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.pageDifferentTitle {
    font-weight: 600;
}


/* ingredients */
.ingredienMainDiv {
    display: flex;
    align-content: center;
}

.checkboxes {
    width: 1.3%;
}

.ingredientsPtags {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    padding-left: 1rem;
    margin-top: 1.1%;
}


/* instructions */
.instructionDetail {
    width: 90%;
}

.instructionPTag {
    color: #64481f;
    margin-left: -1.2rem;
}

/* video part */
.videoTutorialDiv {
    background-color: #d5d3d19b;
    width: 70%;
    height: 25rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
    border-radius: 0.5rem;
    box-shadow: 2px 5px 10px 4px black;
}



/* footer part */
.footerMain {
    text-align: center;
    background-color: #c3c3c36b;
}

.footerItems {
    display: flex;
    justify-content: center;
    display: flex;
    gap: 3%;
}

.footerLink {
    color: #64481f;
    font-weight: 500;
    font-size: 1.05rem;
}

.footerLink:hover {
    font-size: 1.07rem;
    transform: translateY(-0.1rem);
    background: linear-gradient(90deg, #0088ff, #006b70);
    -webkit-background-clip: text;
    color: transparent;

    text-decoration: none;
}