body {
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
}

#navContainer {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
    align-items: start;
    margin-top: -3rem;
}

#navNameAndLogoDiv {
    display: flex;
    align-items: center;
    justify-items: start;
    margin-top: 0.2rem;
}

.navv {
    margin-top: 13 .9rem;
}

#navMainLogo {
    width: 30%;
    height: auto;
    padding-right: 0.8rem;
}

#navSiteName {
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.navItems {
    display: flex;
    gap: 5%;
}

.navLink {
    color: #030303;
    font-weight: 500;
    font-size: 1.05rem;
}

.navLink:hover {
    font-size: 1.07rem;
    transform: translateY(-0.1rem);
    background: linear-gradient(90deg, #4facfe, #248f95);
    -webkit-background-clip: text;
    color: transparent;

    text-decoration: none;
}

/* nav a.active {
    background: linear-gradient(90deg, #99a903, #956a24);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
} */

.navSearcingSide {
    display: flex;
}

.searchBox {
    width: 70%;
}

/*
.searchBox:focus-within {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-color: #0f0e0e;
} */

.navSearchTxt {
    margin-left: 1.3rem;
    width: 90%;
    height: 2.3rem;
    border-radius: 0.5rem;
    border: none;
    background: #ede4d8;
    color: #64481f;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    padding-left: 2rem;
}

.navSearchTxt:hover {
    transform: translateY(-0.2rem);
    background: #ffffff;
    width: 93%;
    height: 2.5rem;
}

.navSearchTxt:active {
    transform: translateY(-0.2rem);
    width: 93%;
    height: 2.5rem;

}

.navSearchSvg {
    width: 5%;
    height: auto;
    opacity: 0.6;
    margin-right: -2.8rem;
    margin-bottom: .3rem;
}


.navCartAndFavorite {
    display: flex;
    width: 30%;
}

.navCartBtn {
    width: 40%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.navFavoriteBtn {
    width: 40%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.cartFavoriteSvg {
    width: 50%;
}

.cartFavoriteSvg:hover {
    width: 55%;
}

.alignPart{
    display: flex;
    height:.6rem;
    justify-content: center;
}
.hrAfterNav {
    width: 90%;
    border: none;
    border-top: 0.1px solid #a27f4a;
    border-radius: 2px;
}

/* ///   hero   /// */
.heroMainDiv {
    margin-top: 3rem;
    text-align: center;
}

.heroImage {
    width: 80%;
    height: 35rem;
    border-radius: 1rem;
}

.heroHTag {
    position: absolute;
    top: 40%;
    left: 21%;
    font-size: 2.7rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-bottom: -3rem;
}

.heroPTag {
    position: absolute;
    top: 50%;
    left: 25%;
    font-weight: 600;
    font-size: 1.1rem;
    color: whitesmoke;
}

.heroSearchingComponents {
    position: absolute;
    top: 60%;
    left: 32%;
}

.heroSearchSvg {
    width: 3.5%;
    margin-right: -2.1rem;
    margin-bottom: .3rem;
    position: relative;
    /* background-color: rgb(146, 119, 44);
    -webkit-background-clip: text; */
}

.heroSearchTxt {
    width: 100%;
    height: 3.2rem;
    font-size: 1.2rem;
    padding-left: 2.4rem;
    border: none;
    box-shadow: 1px 1px 7px 1px orange;
    border-radius: .5rem;
    color: rgb(146, 119, 44);
    background-color: rgb(255, 255, 255);
}

.heroSearchBtn {
    background-color: rgb(255, 106, 0);
    color: whitesmoke;
    position: absolute;
    z-index: inherit;
    left: 82%;
    top: 13%;
    width: 15%;
    height: 75.5%;
    border: transparent;
    border-radius: .5rem;
}

/* //////// browse //////// */
.categoryBtn {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
}

.browseTitles {
    font-weight: 700;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.categoriesImages {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.categoriesImages:hover {
    transform: translateY(-0.3rem);
}

.categoriesPTag {
    font-weight: 600;
    text-align: center;
}





.footerMain{
    text-align: center;
    background-color: #c3c3c36b;
}
.footerItems {
    display: flex;
    justify-content: center;
    display: flex;
    gap: 3%;
}

.footerLink {
color: #64481f;    font-weight: 500;
    font-size: 1.05rem;
}

.footerLink:hover {
    font-size: 1.07rem;
    transform: translateY(-0.1rem);
    background: linear-gradient(90deg, #0088ff, #006b70);
    -webkit-background-clip: text;
    color: transparent;

    text-decoration: none;
}